CST::BEGIN
  TEMPLATE::   ATOM_MAP: 1 atom_name: O6 C6 C5
  TEMPLATE::   ATOM_MAP: 1 residue3: FUD

  TEMPLATE::   ATOM_MAP: 2 atom_name:  NE2  CE1  CD2
  TEMPLATE::   ATOM_MAP: 2 residue3: HIS

  CONSTRAINT:: distanceAB:    2.83   5.00 100.00  0        0
  CONSTRAINT::    angle_A:   77.05  10.00 100.00  360.00   1
  CONSTRAINT::    angle_B:  103.44  20.00 100.00  360.00   1
  CONSTRAINT::  torsion_A: -179.09  20.00 100.00  360.00   1
  CONSTRAINT::  torsion_B: -179.44  30.00 100.00  360.00   1
  CONSTRAINT:: torsion_AB: -131.86  30.00 100.00  360.00   1
CST::END

CST::BEGIN
  TEMPLATE::   ATOM_MAP: 1 atom_name: O6 C6 C5
  TEMPLATE::   ATOM_MAP: 1 residue3: FUD

  TEMPLATE::   ATOM_MAP: 2 atom_name:  OG   CB   CA 
  TEMPLATE::   ATOM_MAP: 2 residue3: SER

  CONSTRAINT:: distanceAB:    2.91   5.00 100.00  0        0
  CONSTRAINT::    angle_A:  105.54  10.00 100.00  360.00   1
  CONSTRAINT::    angle_B:  123.05  20.00 100.00  360.00   1
  CONSTRAINT::  torsion_A: -108.62  20.00 100.00  360.00   1
  CONSTRAINT::  torsion_B:  100.62  30.00 100.00  360.00   1
  CONSTRAINT:: torsion_AB:   74.48  30.00 100.00  360.00   1
CST::END


